.AVP-subtitles {
    background-color: black;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    color: white;
}

.AVP-variant{
    width: 90%;
    margin: 0 auto;
}
