/* .flexparent{
    display: flex;
    flex-direction: row;
    flex-flow: column wrap;

} */
.gridparent {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-right: 5%;
    margin-left: 5%;
}

.title {
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    grid-column: 1 / 3;
    color: black;
    margin-top: 10px;
}


.card {
    width: 49vw;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.2rem;
    color: black;
    margin-top: 5%;
}

.topimg {
    height: 300px;
    width: 200px;
}

.shortimg {
    height: 200px;
    width: 300px;
}