.flexparent{
    direction: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card {
    width: 25vw;
}

.topimg {
    height: 300px;
    width: 200px;
}

.shortimg {
    height: 200px;
    width: 300px;
}